@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options

@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    string returnUrl = ViewContext.HttpContext.Request.Path;

    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<!DOCTYPE html>
<html lang="@GetString("page.lang")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - The Solar System </title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/index.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow p-0">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="">
                            <form class="nav-item" asp-action="ChangeLanguage" asp-controller="Home" method="post">
                                <input type="hidden" id="returnUrl" name="returnUrl" value="@returnUrl" />
                                <select  class="lang-sel nav-item btn btn-dark" id="culture"
                                        name="culture"
                                        class="form-control"
                                        onchange="this.form.submit();"
                                        asp-items="cultureItems"
                                        asp-for="@requestCulture.RequestCulture.UICulture.Name">
                                </select>
                                <a class="nav-item" asp-area="" asp-controller="Home" asp-action="stardust" >Stardust</a>
                                <a class="nav-item" asp-area="" asp-controller="Home" asp-action="" >@GetString("nav.home")</a>
                                <div class="lang-select lang-sel d-none">
                                    <button asp-items="cultureItems"
                                        onchange="this.form.submit();"
                                        class="btn-select form-control"
                                        value=""
                                        name="culture"
                                    ></button>
                                    <div class="b">
                                        <ul id="a"></ul>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery/language-image.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>